extends layout.pug

block content
    div
        article
            h1 Simple Metabase Question Embed
            p This is a simple example of a static Metabase question embedded in a web application.
            
            p The question below is embedded using a signed JWT token that provides secure access to the specific question without requiring user authentication.

            hr

            section
                h2 Embedded Question
                p Below is the embedded Metabase question (ID: 302):

                iframe(
                    src=iframeUrl
                    frameborder="0"
                    width="800"
                    height="600"
                    allowtransparency
                )